[Unit]
Description=Homehub Service
After=multi-user.target

[Service]
Type=idle
ExecStart=/home/pi/home-hub/bin/start.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
