<Layouts.dashboard flash={@flash} nav={@nav} sensors={@sensors}>
  <section class="container">
    <div class="flex justify-between m-4">
      <div class="text-4xl flex">
        <div><.tree_icon class="h-10 w-10 mr-4 fill-green-600" /></div>
        <.temperature_display sensor={@sensors[@outside_sensor]} />
      </div>

      <div class="text-4xl flex">
        <div>
          <.icon name="hero-home-solid" class="h-10 w-10 mr-4 text-amber-600" />
        </div>
        <.temperature_display sensor={@status} />
      </div>
    </div>
  </section>

  <.live_component
    module={ThermostatWeb.LiveComponent}
    status={@status}
    id={:heater_thermostat}
    show_cooler={@show_cooler}
    show_heater={@show_heater}
    class="justify-evenly"
  />

  <div class="pt-10 flex py-6 justify-center"></div>
</Layouts.dashboard>
