<.live_component module={HomeHubWeb.ThermostatComponent} id={:thermostat} status={@status} />

<div class="pt-5">
  <.live_component module={HomeHubWeb.HAPButtonsComponent} id={:hap_buttons} />
</div>

<div class="flex justify-end">
  <%= Float.round(@status.pid, 3) %>
</div>
