@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

/* Alerts and form errors used by phx.new */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}


/* Image manipulation */

img.icon {
  height: 4rem;
  min-width: 4rem;
  /* Invert for Dark theme */
  filter: invert(80%);
}

img.icon-action {
  filter: invert(.5) sepia(70%) saturate(5) hue-rotate(175deg);
}

img.icon-on-gray {
  filter: invert(.5);
}

img.icon-on-red {
  filter: invert(.7) sepia(70%) saturate(100);
}

img.icon-on-orange{
  filter: invert(.7) sepia(100%) saturate(30);
}

img.icon-on-yellow {
  filter: invert(.7) sepia(100%) saturate(10);
}

img.icon-on-blue {
  filter: invert(.6) sepia(80%) saturate(100) hue-rotate(200deg);
}

img.icon-on-green {
  filter: invert(.7) sepia(100%) saturate(90) hue-rotate(150deg);
}
